/* CSS Document */
/*Digg*/
	div.digg {
		padding: 3px;
		margin: 3px;
		text-align:center;
	}
	
	div.digg a {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #AAAADD;
		
		text-decoration: none; /* no underline */
		color: #000099;
	}
	div.digg a:hover, div.digg a:active {
		border: 1px solid #000099;

		color: #000;
	}
	div.digg span.current {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #000099;
		
		font-weight: bold;
		background-color: #000099;
		color: #FFF;
	}
	div.digg span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #DDD;
	}
/*Yahoo*/
	div.yahoo {
		padding: 3px;
		margin: 3px;
		text-align:center;
	}
	
	div.yahoo a {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #fff;
		
		text-decoration: underline;
		color: #000099;
	}
	div.yahoo a:hover{
		border: 1px solid #000099;

		color: #000;
	}
	div.yahoo a:active {
		border: 1px solid #000099;

		color: #f00;
	}
	div.yahoo span.current {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #fff;
		
		font-weight: bold;
		background-color: #fff;
		color: #000;
	}
	div.yahoo span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #DDD;
	}
/*Meneame*/
	div.meneame {
		padding: 3px;
		margin: 3px;
		color:#ff9900;
		
		font-size:80%;
		text-align:center;
	}
	
	div.meneame a {
		border: 1px solid #ff9600;
		margin-right:3px;
		padding:5px 7px;
		background-color: #ff0000;
		color:#ffffff;
		background-image:url(meneame.jpg);
		background-position:bottom;
		text-decoration: none;

			
	}
	div.meneame a:hover, div.meneame a:active {
		border: 1px solid #fff;
		background-image:none;
		background-color:#FD4E0B;
		color: #fff;
	}
	div.meneame span.current {
		margin-right:3px;
		background-color:#ff9900;
		padding:5px 7px;
		border: 1px solid #ff6500;
		
		font-weight: bold;
		
		color: #000;
	}
	div.meneame span.disabled {
		margin-right:3px;
		padding:5px 7px;
		border: 1px solid #ffe3c6;
	
		color: #ffe3c6;
	}
/*Flickr*/
	div.flickr {
		padding: 3px;
		margin: 3px;
		text-align:center;
	}
	
	div.flickr a {
		border: 1px solid #dedfde;
		margin-right:3px;
		padding:2px 6px;

		background-position:bottom;
		text-decoration: none;

		color: #4988BC;		
	}
	div.flickr a:hover, div.meneame a:active {
		border: 1px solid #000;
		background-image:none;
		background-color:#0061de;
		color: #fff;
	}
	div.flickr span.current {
		margin-right:3px;
		background-color:#999999;
		padding:2px 6px;
		border: 1px solid #999999;
		font-weight: bold;
		color: #ffffff;
	}
	div.flickr span.disabled {
		margin-right:3px;
		padding:2px 6px;
	
		color: #adaaad;
	}
/*Sabrosus*/
div.sabrosus {
	padding:3px;
	margin:3px;
	text-align:center;
}

div.sabrosus a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #9aafe5;
	
	text-decoration: none; 
	color: #2e6ab1;
}
div.sabrosus a:hover, div.pagination a:active {
	border: 1px solid #2b66a5;
	color: #000;
	background-color: lightyellow;
}
div.sabrosus span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid navy;
	font-weight: bold;
	background-color: #2e6ab1;
	color: #FFF;
}
div.sabrosus span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #929292;
	color: #929292;
}/*Scott*/
div.scott {
	padding:3px;
	margin:3px;
	text-align:center;
}

div.scott a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	
	text-decoration: none; 
	color: #88AF3F;
}
div.scott a:hover, div.scott a:active {
	border:1px solid #85BD1E;
	color: #638425;
	background-color: #F1FFD6;
}
div.scott span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #B2E05D;
	font-weight: bold;
	background-color: #B2E05D;
	color: #FFF;
}
div.scott span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}
/*Quotes*/
div.quotes {
	padding:3px;
	margin:3px;
	text-align:center;
}

div.quotes a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ddd;
	
	text-decoration: none; 
	color: #aaa;
}
div.quotes a:hover, div.quotes a:active {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #a0a0a0;
}
div.quotes span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #e0e0e0;
	font-weight: bold;
	background-color: #f0f0f0;
	color: #aaa;
}
div.quotes span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}

/*CSS black style pagination*/
	div.black {
		background-color:#000;
		padding: 3px;
		padding-top:10px;
		padding-bottom:10px;
		margin: 3px;
		text-align:center;
		color:#a0a0a0;
		font-size:80%;
	}
	div.black a {
		border: 1px solid #909090;
		margin-right:3px;
		padding:2px 5px;
		background-image:url('bar.gif');
		background-position:bottom;
		text-decoration: none;
		color: #c0c0c0;		
	}
	div.black a:hover, div.black a:active {
		border: 1px solid #f0f0f0;
		background-image:url('invbar.gif');
		background-color:#404040;
		color: #ffffff;
	}
	div.black span.current {
		margin-right:3px;
		padding:2px 5px;
		border: 1px solid #ffffff;
		
		font-weight: bold;
		background-color: #606060;
		color: #ffffff;
	}
	div.black span.disabled {
		margin-right:3px;
		padding:2px 5px;
		border: 1px solid #606060;
	
		color: #808080;
	}
	/*Pagination*/
	div.black2 {
	  text-align:center;
	  padding: 7px;
	  margin: 3px;
	}
	
	div.black2 a {
	  padding: 2px 5px 2px 5px; 
	  margin: 2px;
	  border: 1px solid #000000;
	 
	  text-decoration: none; /* no underline */
	  color: #000000;
	}
	div.black2 a:hover, div.black2 a:active {
	  border: 1px solid #000000;
	  background-color:#000;
	  color: #fff;
	}
	div.black2 span.current {
	  padding: 2px 5px 2px 5px;
	  margin: 2px; 
			  border: 1px solid #000000;
			 
			  font-weight: bold;
			  background-color: #000000;
			  color: #FFF;
	  } 
	div.black2 span.disabled {
			  padding: 2px 5px 2px 5px;
			  margin: 2px;
			  border: 1px solid #EEE;
	 
			  color: #DDD; 
	  }
/*Black red style*/
div.black-red {
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	background-color:#3e3e3e;
	color: #fff;
}

div.black-red a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	background-color:#3e3e3e;
	text-decoration: none; /* no underline */
	color: #fff;
}
div.black-red a:hover, div.black-red a:active {
	background-color:#ec5210;
	color: #fff;
}
div.black-red span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		font-weight: bold;
		background-color: #313131;
		color: #fff;
	}
div.black-red span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		background-color:#3e3e3e;
		color: #868686;
	}
/* Gray-Red style*/
div.grayr{
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	padding:2px;
	background-color:#c1c1c1;
}

div.grayr a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	background-color:#c1c1c1;
	text-decoration: none; /* no underline */
	color: #000;
}
div.grayr a:hover, div.grayr a:active {
	background-color:#99ffff;
	color: #000;
}
div.grayr span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		font-weight: bold;
		background-color: #fff;
		color: #303030;
	}
div.grayr span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		background-color:#c1c1c1;
		color: #797979;
	}
/*Yellow Pagination*/
div.yellow {
	text-align:center;
	padding: 7px;
	margin: 3px;
}

div.yellow a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #ccc;
	
	text-decoration: none; /* no underline */
	color: #000;
}
div.yellow a:hover, div.yellow a:active {
	border: 1px solid #f0f0f0;

	color: #000;
}
div.yellow span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 1px solid #d9d300;
		
		font-weight: bold;
		background-color: #d9d300;
		color: #fff;
	}
div.yellow span.disabled {
		padding: 2px 5px 2px 5px;
		margin: 2px;
		border: 1px solid #EEE;
	
		color: #DDD;
	}
/*
	http://jogger.pl/ style
*/
div.jogger {
	font-family: "Lucida Sans Unicode", "Lucida Grande", LucidaGrande, "Lucida Sans", Geneva, Verdana, sans-serif;
	padding:2px;
	margin:7px;
}

div.jogger a {
	margin: 2px;
	padding: 0.5em 0.64em 0.43em 0.64em;
	background-color: #ee4e4e;
	text-decoration: none; /* no underline */
	color: #fff;
}
div.jogger a:hover, div.jogger a:active {
	padding: 0.5em 0.64em 0.43em 0.64em;
	margin: 2px;
	background-color: #de1818;
	color: #fff;
}
div.jogger span.current {
		padding: 0.5em 0.64em 0.43em 0.64em;
		margin: 2px;
		background-color: #f6efcc;
		color: #6d643c;
	}
div.jogger span.disabled {
		display:none;
	}
/*Starcraft2 Style*/
div.starcraft2 {
	padding: 3px;
	margin: 3px;
	text-align:center;
	font-family:Arial;
	font-size:13.5pt;
	color: #fff;
	background-color:#000;
	font-weight:bold;
}
div.starcraft2 a {
	margin: 2px;
	text-decoration: none;
	color: #fa0;
	background-color:#000;
}
div.starcraft2 a:hover, div.starcraft2 a:active {
	color: #fff;
	background-color:#000;
}
div.starcraft2 span.current {
	margin: 2px;
	font-weight: bold;
	color: #fff;
	background-color:#000;
}
div.starcraft2 span.disabled {
	margin: 2px;
	color: #444;
	background-color:#000;
}
/*Tres style*/
div.tres {
	text-align:center;
	padding: 7px;
	margin: 3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13.2pt;
	font-weight:bold;
}

div.tres a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 2px solid #d9d300;
	
	text-decoration: none; /* no underline */
	color: #fff;
	background-color:#d90;
}
div.tres a:hover, div.tres a:active {
	border: 2px solid #ff0;
	background-color:#ff0;
	color: #000;
}
div.tres span.current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
		border: 2px solid #fff;
		
		font-weight: bold;
		color: #000;
	}
div.tres span.disabled {display:none;}

/*512megas.com */
	div.megas512 {
		padding: 3px;
		margin: 3px; 
		text-align:center;
	}
	
	div.megas512 a {
		border: 1px solid #dedfde;
		margin-right:3px;
		padding:2px 6px;

		background-position:bottom;
		text-decoration: none;

		color: #99210B;
	}
	div.megas512 a:hover, div.megas512 a:active {
		border: 1px solid #000;
		background-image:none;
		background-color:#777777;
		color: #fff;
	}
	div.megas512 span.current {
		margin-right:3px;
		padding:2px 6px;
		
		font-weight: bold;
		color: #99210B;
	}
	div.megas512 span.disabled {
		margin-right:3px;
		padding:2px 6px;
	
		color: #adaaad;
	}
/*technorati.com */
	div.technorati {
		padding: 3px;
		margin: 3px;
		text-align:center;
	}
	
	div.technorati a {
		border: 1px solid #ccc;
		margin-right:3px;
		padding:2px 6px;

		background-position:bottom;
		text-decoration: none;
		font-weight:bold;

		color: rgb(66,97,222);
	}
	div.technorati a:hover, div.technorati a:active {
		background-image:none;
		background-color:#4261DF;
		color: #fff;
	}
	div.technorati span.current {
		margin-right:3px;
		padding:2px 6px;
		
		font-weight: bold;
		color: #000;
	}
	div.technorati span.disabled {
		display:none;
	}
/*CSS Youtube style pagination*/
div.youtube {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align:right;
	padding:4px 6px 4px 0;
	background-color:#cecfce;
	border-top:1px dotted #9c9a9c;
	color:#313031;
}

div.youtube a {
	font-weight:bold;
	color:#0030ce;
	text-decoration:underline;
	padding:1px 3px 1px 3px;
	margin:0 1px 0 1px;
}

div.youtube a:hover, div.youtube a:active {

}
div.youtube span.current {
	padding:1px 2px 1px 2px;
	color:#000;
	background-color:#fff;
}
div.youtube span.disabled {
	display:none;
}

/*CSS msdn search  style pagination*/
div.msdn {
	font-family:Verdana,Tahoma,Arial,Helvetica,Sans-Serif;
	font-size: 13px;
	text-align:right;
	padding:4px 6px 4px 0;
	background-color:#fff;
	color:#313031;
}

div.msdn a {
	color:#0030ce;
	text-decoration:none;
	padding:5px 6px 4px 5px;
	margin:0 3px 0 3px;
	border:1px solid #b7d8ee;
}

div.msdn a:hover, div.pagination a:active {
	color:#0066a7;
	border:1px solid #b7d8ee;
	background-color:#d2eaf6;
}
div.msdn span.current {
	padding:5px 6px 4px 5px;
	margin:0 3px 0 3px;
	border:1px solid #b7d8ee;
	font-weight:bold;
	color:#444444;
	background-color:#d2eaf6;
}
div.msdn span.disabled {
	display:none;
}

/*CSS Badoo style pagination*/
div.badoo {
	background-color:#fff;
	color:#48b9ef;
	padding:10px 0 10px 0;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align:center;
}

div.badoo a {
	color:#48b9ef;
	padding:2px 5px;
	margin:0 2px;
	text-decoration:none;
	border:2px solid #f0f0f0;
}

div.badoo a:hover, div.badoo a:active {
	border:2px solid #ff5a00;
	color:#ff5a00;
}

div.badoo span.current {
	padding:2px 5px;
	border:2px solid #ff5a00;
	color:#fff;
	font-weight:bold;
	background-color:#ff6c16;
}
div.badoo span.disabled {
	display:none;
}

/*Blue style*/
.manu {
	padding: 3px;
	margin: 3px;
	text-align:center;
}

.manu a {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	text-decoration: none; /* no underline */
	color: #036CB4;
}

.manu a:hover,
.manu a:active {
	border: 1px solid #999;
	color: #666;
}
.manu .current {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #036CB4;
	font-weight: bold;
	background-color: #036CB4;
	color: #FFF;
}
.manu .disabled {
	padding: 2px 5px 2px 5px;
	margin: 2px;
	border: 1px solid #EEE;
	color: #DDD;
}


/* green-black style*/
div.green-black {
	padding:3px;
	margin:3px;
	text-align:center;
}

div.green-black a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #2C2C2C;
	text-decoration: none; 
	color: #fff;
	background: #2C2C2C url(image1.gif);
}

div.green-black a:hover, div.green-black a:active {
	border:1px solid #AAD83E;
	color: #FFF;
	background: #AAD83E url(image2.gif);
}

div.green-black span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #AAD83E;
	font-weight: bold;
	background: #AAD83E url(image2.gif);
	color: #FFF;
}

div.green-black span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #f3f3f3;
	color: #ccc;
}

/* paginacion */
div.viciao {
	margin-top: 20px;
	margin-bottom: 10px;
}

div.viciao a {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #8DB5D7;
	text-decoration: none; 
	color: #000;
}
div.viciao a:hover, div.viciao a:active {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid red;
}
div.viciao span.current {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #E89954;
	font-weight: bold;
	background-color: #FFCA7D;
	color: #000;
}
div.viciao span.disabled {
	padding: 2px 5px 2px 5px;
	margin-right: 2px;
	border: 1px solid #ccc;
	color: #ccc;
}
/*CSS Yahoo new version style pagination*/
	div.yahoo2 {
		padding: 3px;
		margin: 3px;
		text-align:center;
		font-family:Tahoma,Helvetica,sans-serif;
		font-size:.85em;
	}
	
	div.yahoo2 a {
		border: 1px solid #ccdbe4;
		margin-right:3px;
		padding:2px 8px;

		background-position:bottom;
		text-decoration: none;

		color: #0061de;		
	}
	div.yahoo2 a:hover, div.yahoo2 a:active {
		border: 1px solid #2b55af;
		background-image:none;
		background-color:#3666d4;
		color: #fff;
	}
	div.yahoo2 span.current {
		margin-right:3px;
		padding:2px 6px;
		
		font-weight: bold;
		color: #000;
	}
	div.yahoo2 span.disabled {
		display:none;
	}
	div.yahoo2 a.next{
		border:2px solid #ccdbe4;
		margin:0 0 0 10px;
	}
	div.yahoo2 a.next:hover{
		border:2px solid #2b55af;
	}
	div.yahoo2 a.prev{
		border:2px solid #ccdbe4;
		margin:0 10px 0 0;
	}
	div.yahoo2 a.prev:hover{
		border:2px solid #2b55af;
	}
